<!-- archive.html -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<div id="header-search-box">
<form role="search" method="get" id="searchform" action="search">
  {% csrf_token %}
  <input type="search" name="q" placeholder="Search" required>
  <button type="submit">SEARCH</button>
</form>
    </div>
<hr>

{% for post in posts %}
<h2>{{ post.title }}</h2>
<p>{{ post.timestamp }}</p>
<p>{{ post.body }}</p>
<hr>
{% endfor %}
<hr>

<form action="/blog/create/" method="post">
    {% csrf_token %}
     Ipaddr:
     <input type=text name=title><br>
     Details:
    <textarea name="body" cols="68" rows="3" required="" id="id_body"></textarea><br>
<!--    <textarea name=body rows=3 cols=60></textarea><br>
       <table>{{ form }}</table><br> -->
    <input type="submit" value="Submission">
</form>
<hr>
